*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{
    height: 100%
     
    
}

body{
 background-color: black;
 display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pt-30{
    padding-bottom: 30px;
}

.container{
    background-color: #fff;
    width: 400px;
    height: 400px;
    border-top: 50px solid #e74c3c;
    border-bottom: 50px solid #e74c3c;
    display: flex;
     justify-content: center;
    align-items: center;
}
.input{
    border: none;
    border-bottom: 1px solid #e74c3c;
    text-align: center;
    width: 200px;
}

.btn{
    width: 200px;
    color:#fff;
    background-color: #e74c3c;
    height: 50px;
    box-shadow: 5px 5px 5px 2px gray;
}

footer{
    display: inline-block;
    float: left;
    color: gray;
}
footer p{
    display: inline-block;
    float: left;
    padding-right: 5px;
}
a{
    color: gray;
}